body {
    margin: 90px 0 1cm 30px;
    font-family: sans-serif;
    color: #222324;
    margin-right: 30px;
}

table {
    border-collapse: separate;
    border-spacing: 15px 2px;
}

.judul_skpi {
    font-family: tahoma, sans-serif;
    font-weight: bolder;
    color: #009688;
    font-size: x-large;
    padding: 20px 50 -54 0;
    line-height: 5px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: #009688;
}

.judul_skpi2 {
    font-family: tahoma, sans-serif;
    font-weight: bolder;
    color: #009688;
    font-size: x-large;
    padding: 30px 0 0 0;
    line-height: 5px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: #009688;
}

.font_eng {
    font-family: tahoma, sans-serif;
    font-weight: bold;
    color: #009688;
    font-size: small;
    font-style: italic;
    padding-bottom: -20px;
}

.spasi_no_skpi{
    padding-bottom: 75px;
}

.no_skpi {
    text-align: right;
    font-size: 12px;
    font-weight: medium;
    background: #f4f4f4;
    padding: 0 10px;

}

.deskripsi{
    text-align: justify;
    font-size: 12px;
    background: #f4f4f4;
    padding: 10px;
}

.deskripsi_eng{
    text-align: justify;
    font-size: 12px;
    font-style: italic;
    background: #f4f4f4;
    padding: 10px;
}

.sub_judul {
    font-family: tahoma, sans-serif;
    font-weight: bold;
    color: #009688;
    font-size: small;
    padding-bottom: -5px;
    padding-top: 10px;
}

.sub_judul2 {
    padding-top: 10px;
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
}

.sub_judul_eng_2 {
    /* padding-top: 10px; */
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
    font-style: italic;
    width: 50%;
}

.sub_judul_eng {
    font-weight: bold;
    color: #009688;
    font-size: 12px;
    font-style: italic;

    /* margin-bottom: 40px; */
}

.atribut {
    font-size: 12px;
    width: fit-content;
    text-align: justify;
    padding-top: 10px;
    /* margin-top: -10px; */
}

.atribut_indo {
    font-size: 12px;
    font-weight: bolder;
    width: 50%;
    padding-bottom: -5px;
}
.atribut_eng {
    font-size: 10px;
    font-weight: smaller;
    font-style: italic;
    width: 50%;


}

.isi {
    font-size: 12px;
    background: #f4f4f4;
    padding: 5px 0 5px 5px;
    margin-left: 10px;
    width: 50%;

}

.isi_list {
    font-size: 12px;
    background: #f4f4f4;
    padding: 5px 0 5px 5px;
    text-align: left;
    width: 50%;

}

.isi_list_en {
    font-size: 12px;
    background: #f4f4f4;
    padding: 5px 0 5px 5px;
    text-align: left;
    font-style: italic;
    width: 50%;


}

.isi_en {
    font-size: 10px;
    font-style: italic;
    width: 50%;
    /* padding: 5px 0px 5px 5px; */
}

.ttd {
    font-size: 14px;
    text-transform: uppercase;
}

.ttd2 {
    font-size: 12px;
    text-transform: uppercase;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: -80px;
    right: 0px;
    height: 130px;
    /* background-color: #79dba2; */
}

.nama_footer{
    font-size: 11px;
    font-family: tahoma, sans-serif;
    padding-bottom: 72px;
    width: 650px;
}

.halaman_footer{
    padding-top: -70px;
    /* background-color: #000; */
}

.page:after {
    font-family: tahoma, sans-serif;
    font-weight: lighter;
    content: counter(page);
    display: inline-block;
    position: relative;
    /* margin-left: 380px; */
    font-size: 11px;
    text-align: right;
}


/* .break { page-break-after: always; } */
